.cart{
  .wrapper{
    background-color:#F5F5F5;
    padding-top:30px;
    padding-bottom:114px;
    .cart-box{
      background-color:#fff;
      font-size:14px;
      color:#999999;
      text-align:center;
      .checkbox{
        display: inline-block;
        width: 22px;
        height: 22px;
        border: 1px solid #E5E5E5;
        vertical-align: middle;
        margin-right: 17px;
        cursor:pointer;
        &.checked{
          background:url('../../../public/imgs/icon-gou.png') #FF6600 no-repeat center;
          background-size:16px 12px;
          border:none;
        }
      }
      .cart-item-head{
        display:flex;
        height: 79px;
        line-height: 79px;
        .col-1{
          flex:1;
        }
        .col-2{
          flex:2;
        }
        .col-3{
          flex:3;
        }
      }
      .cart-item-list{
        .cart-item{
          display:flex;
          align-items:center;
          height:125px;
          border-top:1px solid #E5E5E5;
          font-size:16px;
          .item-check{
            flex:1;
          }
          .item-name{
            flex:2;
            font-size: 18px;
            color: #333333;
            display: flex;
            align-items: center;
            img{
              width:80px;
              height:80px;
              vertical-align:middle;
            }
            span{
              margin-left: 30px;
            }
          }
          .item-price{
            flex:1;
            color:#333333;
          }
          .item-num{
            flex:1;
            .num-box{
              display:flex;
              width:150px;
              height:40px;
              line-height:40px;
              border:1px solid #E5E5E5;
              font-size:14px;
              .change-num{
                display:inline-block;
                width:50px;
                color:#333333;
              }
              span{
                display:inline-block;
                width:50px;
                color:#333333;
              }
            }
          }
          .item-total{
            flex:1;
            color:#FF6600;
          }
          .item-del{
            flex:1;
            width:14px;
            height:12px;
            background:url('../../../public/imgs/icon-close.png') no-repeat center;
            background-size:contain;
            cursor:pointer;
          }
        }
      }
    }
    .order-wrap{
      font-size:14px;
      color: #666666;
      margin-top: 20px;
      height: 50px;
      line-height: 50px;
      .cart-tip{
        margin-left: 29px;
        a{
          color: #666666;
          margin-right:37px;
        }
        span{
          color:#FF6600;
          margin:0 5px;
        }
      }
      .total{
        font-size:14px;
        color:#FF6600;
        span{
          font-size:24px;
        }
        .btn {
          width:202px;
          height:50px;
          color: #fff;
          line-height:50px;
          font-size:18px;
          margin-left:37px;
        }
      }
    }
  }
}