@import "../../assets/scss/config.scss";
@import "../../assets/scss/mixin.scss";
.index {
  
  .ads-box {
    @include flex();
    margin-top: 14px;
    margin-bottom: 31px;
    a {
      width: 296px;
      height: 167px;
    }
  }
  .banner {
    margin-bottom: 50px;
  }
  .product-box {
    background-color: $colorJ !important;
    padding: 30px 0 50px;
    
  }
}
