@import '../../assets/scss/config.scss';
@import '../../assets/scss/mixin.scss';
.index{
  .swiper-box{
    .nav-menu{
      position:absolute;
      width:264px;
      height:451px;
      z-index:9;
      padding:26px 0;
      background-color:#55585a7a;
      box-sizing:border-box;
      .menu-wrap{
        .menu-item{
          height:50px;
          line-height:50px;
          a{
            position:relative;
            display:block;
            font-size:16px;
            color:#ffffff;
            padding-left:30px;
            &:after{
              position:absolute;
              right:30px;
              top:17.5px;
              content:' ';
              @include bgImg(10px,15px,'../../../public/imgs/icon-arrow.png');
            }
          }
          &:hover{
            background-color:$colorA;
            .children{
              display:block;
            }
          }
          .children{
            display:none;
            width:962px;
            height:451px;
            background-color:$colorG;
            position:absolute;
            top:0;
            left:264px;
            border:1px solid $colorH;
            ul{
              display:flex;
              justify-content:space-between;
              height:75px;
              li{
                height:75px;
                line-height:75px;
                flex:1;
                padding-left:23px;
              }
              a{
                color:$colorB;
                font-size:14px;
              }
              img{
                width:42px;
                height:35px;
                vertical-align:middle;
                margin-right:15px;
              }
            }
          }
        }
      }
    }
    .mySwiper {
      height: 451px;
      .swiper-button-prev{
        left:274px;
      }
      img{
        width:100%;
        height:100%;
      }
    }  
  }
  .ads-box{
    @include flex();
    margin-top:14px;
    margin-bottom:31px;
    a{
      width:296px;
      height:167px;
    }
  }
  .banner{
    margin-bottom:50px;
  }
  .product-box{
    background-color:$colorJ;
    padding:30px 0 50px;
    h2{
      font-size:$fontF;
      height:21px;
      line-height:21px;
      color:$colorB;
      margin-bottom:20px;
    }
    .wrapper{
      display:flex;
      .banner-left{
        margin-right:16px;
        img{
          width:224px;
          height:619px;
        }
      }
      .list-box{
        .list{
          @include flex();
          width:986px;
          margin-bottom:14px;
          &:last-child{
            margin-bottom:0;
          }
          .item{
            width:236px;
            height:302px;
            background-color:$colorG;
            text-align:center;
            span{
              display:inline-block;
              width:67px;
              height:24px;
              font-size:14px;
              line-height:24px;
              color:$colorG;
              &.new-pro{
                background-color:#7ECF68;
              }
              &.kill-pro{
                background-color:#E82626;
              }
            }
            .item-img{
              img{
                width:100%;
                height:195px;
              }
            }
            .item-info{
              h3{
                font-size:$fontJ;
                color:$colorB;
                line-height:$fontJ;
                font-weight:bold;
              }
              p{
                color:$colorD;
                line-height:13px;
                margin:6px auto 13px;
              }
              .price{
                color:#F20A0A;
                font-size:$fontJ;
                font-weight:bold;
                cursor:pointer;
                &:after{
                  @include bgImg(22px,22px,'../../../public/imgs/icon-cart-hover.png');
                  content:' ';
                  margin-left:5px;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
  }
}